@font-face {
  font-family: "Figtree";
  src: url("../fonts/static/Figtree-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; /* Regular font style */
}

@font-face {
  font-family: "Figtree";
  src: url("../fonts/static/Figtree-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; /* Regular font style */
}

@font-face {
  font-family: "Figtree";
  src: url("../fonts/Figtree-VariableFont_wght.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; /* Regular font style */
}

@font-face {
  font-family: "Figtree";
  src: url("../fonts/Figtree-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 400;
  font-style: italic; /* Italic font style */
}
:root {
  --main-background-color: hsl(47, 88%, 63%);
  --white-color: hsl(0, 0%, 100%);
  --grey-color: hsl(0, 0%, 50%);
  --black-color: hsl(0, 0%, 7%);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Figtree", sans-serif;
  background-color: var(--main-background-color);
  font-size: 16px;
}

.body-container,
.blog-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.blog-card {
  box-shadow: 10px 10px 0 0 var(--black-color);
  background-color: var(--white-color);
}

.round-border.blog-img {
  width: 100%;
  border-color: var(--white-color);
}

/* Utility-Classes */
.round-border {
  border: 1px solid;
  border-radius: 15px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
