@font-face {
  font-family: "Figtree";
  src: url("../fonts/static/Figtree-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; /* Regular font style */
}

@font-face {
  font-family: "Figtree";
  src: url("../fonts/static/Figtree-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; /* Regular font style */
}

@font-face {
  font-family: "Figtree";
  src: url("../fonts/Figtree-VariableFont_wght.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; /* Regular font style */
}

@font-face {
  font-family: "Figtree";
  src: url("../fonts/Figtree-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 400;
  font-style: italic; /* Italic font style */
}
:root {
  --main-background-color: hsl(47, 88%, 63%);
  --white-color: hsl(0, 0%, 100%);
  --grey-color: hsl(0, 0%, 50%);
  --black-color: hsl(0, 0%, 7%);
}

body {
  font-family: "Figtree", sans-serif;
  background-color: var(--main-background-color);
}
