@font-face {
  font-family: "Figtree";
  src: url("../fonts/static/Figtree-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; /* Regular font style */
}

@font-face {
  font-family: "Figtree";
  src: url("../fonts/static/Figtree-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; /* Regular font style */
}

@font-face {
  font-family: "Figtree";
  src: url("../fonts/Figtree-VariableFont_wght.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; /* Regular font style */
}

@font-face {
  font-family: "Figtree";
  src: url("../fonts/Figtree-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 400;
  font-style: italic; /* Italic font style */
}
:root {
  --main-background-color: hsl(47, 88%, 63%);
  --main-background-color-darker: hsl(47, 88%, 50%);
  --white-color: hsl(0, 0%, 100%);
  --grey-color: hsl(0, 0%, 50%);
  --black-color: hsl(0, 0%, 7%);
  font-size: 16px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  font-family: "Figtree", sans-serif;
  background-color: var(--main-background-color);
  font-size: clamp(1rem, 2.5vw, 1.5rem);
}

.body-container,
.blog-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.body-container {
  height: 100vh;
  justify-content: center;
}
.blog-card {
  max-width: 400px;
  gap: 15px;
  box-shadow: 10px 10px 0 0 var(--black-color);
  background-color: var(--white-color);
}

img.blog-img {
  width: 100%;
  border-color: var(--white-color);
}
/* order inside blog card */
.blog-img {
  order: -3;
}
.categories {
  order: -2;
}
.published-date {
  order: -1;
}

/* Category Styling */
.categories {
  list-style: none;
  width: 100%;
  display: flex;
  gap: 15px;
}
.categories a {
  box-sizing: border-box;
  text-decoration: none;
  padding: 5px;
  background-color: var(--main-background-color);
  font-weight: 600;
  color: var(--black-color);
  text-transform: uppercase;
  border-radius: 5px;
  border: 2px solid var(--main-background-color);
  transition: all 0.5s;
}
.categories a:hover,
.categories a:focus {
  border: 2px solid var(--black-color);
  background-color: var(--main-background-color-darker);
}
/* Date */
.published-date {
  width: 100%;
}
/* H1 */
.blog-title {
  font-size: clamp(1.5rem, 2.5vw, 2rem);
  width: 100%;
}
/* Figure */
.author-figure {
  display: flex;
  gap: 15px;
  align-items: center;
  width: 100%;
}
.author-figure-img {
  width: 40px;
}
.author-figure-name {
  font-size: 18px;
}
/* Attribution */
.attribution {
  position: absolute;
  bottom: 0;
  margin: auto;
  width: 100%;
  padding-bottom: 15px;
}
/* Utility-Classes */
.round-border {
  border: 2px solid;
  border-radius: 15px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
